{%extends "base_dashboard.html"%} {%block content%}
<div class="card">
  <div class="card-body">
    <h4 class="mt-2">Daftar Admin Ormawa</h4>
    <a href="{{url_for('create_users')}}"><button type="button" class="btn btn-primary mt-2 mb-3"><i
          class="bx bx-plus"></i> Tambah Admin</button></a>

    <!-- Default Table -->
    <table class="table" style="text-align: center">
      <thead style="background-color: rgb(100, 123, 147); color: white;">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">ID Ormawa</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {%for item in data%}
        <tr>
          <th>{{item.id}}</th>
          <td>{{item.username}}</td>
          <td>{{item.role}}</td>
          <td>{{item.ormawa}}</td>
          <td>
            <form action="{{url_for('admin.update_form_admin', id=item.id)}}" class="mb-2" method="get">
              <button type="submit" class="btn btn-warning"><i class="bx bx-pencil"></i> Ubah</button>
            </form>
            <form action="{{url_for('admin.hapus_admin', id=item.id)}}" method="post">
              <button type="" class="btn btn-danger" onclick="return confirm('Yakin ingin hapus?');"><i class="bx bx-trash"></i> Hapus</button>

            </form>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

    <!-- End small tables -->

    <!-- End small tables -->
  </div>
</div>
{%endblock%}