{%extends "base_dashboard.html"%} {%block content%}

<body>
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
              <h1 class="mb-5 text-center">Create Prestasi</h1>
              <form class="row g-3" method="post">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example3">Nama Prestasi</label>
                  <input type="text" id="form6Example3" name="nama_prestasi" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example4">Deskripsi</label>
                  <input type="text" id="form6Example4" name="deskripsi" class="form-control" />
                </div>

                {%for data in mapel%}
                <div class="form-check">
                  <input class="form-check-input" name="mapel" type="checkbox" value="{{data[0]}}" id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault"> {{data[1]}} </label>
                </div>
                {%endfor%}
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{%endblock%}
