{%extends "base_dashboard.html"%} {%block content%}

<body>
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
              <h1 class="mb-5 text-center">Create Users</h1>
              <form class="row g-3" method="post" action="{{url_for('admin.tambah_admin')}}">
                <div class="row">
                  <div class="col-12 col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">Username</label>
                      <input type="text" id="form6Example1" name="username" class="form-control" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example2">Password</label>
                      <input type="text" id="form6Example2" name="password" class="form-control" />
                    </div>
                  </div>
                </div>
                {%for item in result%}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="ormawa" value="{{item.nama_ormawa}}" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> {{item.nama_ormawa}} </label>
                </div>
                {%endfor%}
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{%endblock%}
