{%extends "base_dashboard.html"%} {%block content%}

<body>
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
              <h1 class="mb-5 text-center">Create Kegiatan</h1>
              <form class="row g-3" method="post" action="{{url_for('kegiatan.tambah_kegiatan', id_ormawa=session['ormawa'])}}">
                
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example3">Nama Kegiatan</label>
                  <input type="text" id="form6Example3" name="nama_kegiatan" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example4">Hari</label>
                  <input type="text" id="form6Example4" name="hari" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example4">Waktu</label>
                  <input type="time" id="form6Example4" name="waktu" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example4">Deskripsi</label>
                  <input type="text" id="form6Example4" name="deskripsi" class="form-control" />
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{%endblock%}