{%extends "base_dashboard.html"%}
{%block content%}

<div class="card">
  <div class="card-body">
    <h4 class="mt-2">Daftar Ormawa</h4>
    <button type="button" class="btn btn-primary mt-2"><i class="bx bx-plus"></i> Tambah Ormawa</button>

    <!-- Default Table -->
    <table class="table" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Ormawa</th>
          <th scope="col">deskripsi</th>
          <th scope="col">visi</th>
          <th scope="col">misi</th>
          <th scope="col">ketua</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {%for item in data%}
        <tr>
          <th>{{item.id_ormawa}}</th>
          <td>{{item.nama_ormawa}}</td>
          <td>{{item.deskripsi}}</td>
          <td>{{item.visi}}</td>
          <td>{{item.misi}}</td>
          <td>{{item.ketua}}</td>
          <td>
            <a href=""><button type="" class="btn btn-warning"><i class="bx bx-pencil"></i> Ubah</button></a>
            <a href=""><button type="" class="btn btn-danger"><i class="bx bx-trash"></i> Hapus</button></a>
          </td>
        </tr>
        {%endfor%}
    </table>
  </div>
</div>
{%endblock%}