{%extends "base_dashboard.html"%}
{%block content%}

<div class="card">
  <div class="card-body">
    <h4 class="mt-2">Daftar Ormawa</h4>
    <a href="{{url_for('create_ormawa')}}"><button type="button" class="btn btn-primary mt-2 mb-3"><i class="bx bx-plus"></i>
        Tambah Ormawa</button></a>

    <!-- Default Table -->
    <table class="table" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Ormawa</th>
          <th scope="col">deskripsi</th>
          <th scope="col">visi</th>
          <th scope="col">misi</th>
          <th scope="col">ketua</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {%for item in data%}
        {%if item.nama_ormawa == 'none'%}
        {%else%}
        <tr>
          <th>{{item.id_ormawa}}</th>
          <td>{{item.nama_ormawa}}</td>
          <td>{{item.deskripsi}}</td>
          <td>{{item.visi}}</td>
          <td>{{item.misi}}</td>
          <td>{{item.ketua}}</td>
          <td>
            <form class="mb-1" action="{{url_for('ormawa.hapus_ormawa', id_ormawa=item.id_ormawa)}}" method="post">
              <button type="submit" class="btn btn-danger"><i class="bx bx-trash"></i>
            </form>
            <form action="{{url_for('ormawa.update_form_ormawa', id_ormawa=item.id_ormawa)}}" method="get">
              <button type="submit" class="btn btn-warning"><i class="bx bx-pencil"></i>
            </form>
          </td>
        </tr>
        {%endif%}
        {%endfor%}
    </table>
  </div>
</div>
{%endblock%}