{%extends "base_dashboard.html"%} {%block content%}

<body>
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
              <h1 class="mb-5 text-center">Update Ormawa</h1>
              <form class="row g-3" method="post" action="{{url_for('ormawa.update_ormawa', id_ormawa=data.id_ormawa)}}">
                <div class="row">
                  

                  <div class="col-12 col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">Nama Ormawa</label>
                      <input type="text" id="form6Example1" name="nama_ormawa" value="{{data.nama_ormawa}}" class="form-control" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example2">Deskripsi</label>
                      <input type="text" id="form6Example2" name="deskripsi" value="{{data.deskripsi}}" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example3">Visi</label>
                  <input type="text" id="form6Example3" name="visi" value="{{data.visi}}" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example4">Misi</label>
                  <input type="text" id="form6Example4" name="misi" value="{{data.misi}}" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example4">Ketua</label>
                  <input type="text" id="form6Example4" name="ketua" value="{{data.ketua}}" class="form-control" />
                </div>
                

                
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{%endblock%}
